<% include partials/header %>
<div class="container">
    <h1>This is the Landing Page</h>
        
    <p>Welcome to YelpCamp</p>
    
    <a href="/campgrounds">View All Camps</a>
</div>
<% include partials/footer %>